<!DOCTYPE html>
<%# apparently super useful? %>
<html>
  <head>
    <title>lol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% puts "gamer moment" %>
    <%= yield %>
  </body>
</html>
